In [8]:
from main import *
import numpy as np

In [11]:
x = main()

Training set has 773 features

In [12]:
x.head()

,ID,START_DATE,END_DATE,LABEL,AGE_AT_START_DATE,AGE_AT_END_DATE,AGE_AT_OFFENSE_START,AGE_AT_OFFENSE_END,AGE_FIRST_SENTENCE,NUM_SENTENCES,...,PREFIX_AA,PREFIX_AB,PREFIX_BA,PREFIX_BB,PREFIX_BC,PREFIX_BD,PREFIX_BE,PREFIX_BF,PREFIX_BG,PREFIX_BK
0,153012,1953-10-30,1997-02-14,0,0.188221,0.769598,0.348584,0.358274,0.248651,0.000000,...,0,0,1,0,0,0,0,0,0,0
1,137820,1966-03-28,1997-12-06,0,0.152553,0.565153,0.348584,0.358274,0.213730,0.018519,...,0,0,1,0,0,0,0,0,0,0
2,218187,1968-02-22,1997-03-12,0,0.157277,0.531563,0.348584,0.516617,0.218355,0.111111,...,0,0,1,0,0,0,0,0,0,0
3,37762,1969-03-05,1997-04-25,0,0.093776,0.454206,0.348584,0.358274,0.156183,0.037037,...,0,0,1,0,0,0,0,0,0,0
4,150961,1969-11-06,1997-08-12,0,0.234243,0.590595,0.348584,0.500873,0.293710,0.092593,...,0,0,1,0,0,0,0,0,0,0

In [15]:
for c in x.columns:
    if x[c].max() > 1:
        print('MAX GREATER THAN ONE: {}'.format(c))
    else x.c.min() < 0:
        print('MIN LESS THAN ZERO: {}'.format(c))

SyntaxError: invalid syntax (<ipython-input-15-2f0f4ec90a93>, line 4)

In [14]:
x.ID.max()

1136462

In [ ]:
for i in x.columns:
    if x[i]

In [7]:
x.AGE_AT_START_DATE.min()

0.025983229006732

In [1]:
import pipeline as pp
import pandas as pd
import traintestset as tt
import datetime as dt
import config
import os
from sklearn.preprocessing import MinMaxScaler

In [2]:
data_dir=config.DATA_DIR
results_dir=config.RESULTS_DIR
results_file=config.RESULTS_FILE
variables=config.VARIABLES
models=config.MODELS
eval_metrics=config.EVAL_METRICS
eval_metrics_by_level=config.EVAL_METRICS_BY_LEVEL
grid=config.define_clfs_params(config.GRIDSIZE)
period=[1997, 2017]

In [15]:
year = 1997
label = config.VARIABLES['LABEL']
def test():
    while year <= 2018:

        test_csv = os.path.join(data_dir, "test_{}_test.csv".format(year))
        train_csv = os.path.join(data_dir, "test_{}_train.csv".format(year))

        if not os.path.exists(test_csv) or not os.path.exists(train_csv):
            print('Creating training and test sets')
            tt.full_traintest() 

        df_test = pp.get_csv(test_csv)
        df_train = pp.get_csv(train_csv)

        # PRE PROCESS DATA

        # changing data type to date
        for df in [df_test,  df_train]:
            pp.to_date(df, variables['DATES'])
        # create year of sentence column for future imputation
            df['SENTENCE_YEAR'] = df['START_DATE'].dt.year

            ## outliers

            ## create missing indicators
            for fill in variables['INDICATOR']:
                attributes = variables['INDICATOR'][fill]
                for attr in attributes:
                    if attr == 'INCARCERATION_LEN_DAYS':
                        df[attr] = df[attr].where(df[attr]>=0)   # replace neg values with nulls
                    df = pp.create_indicator(df, attr, fill)

            ## missing imputation
            for attribute in variables['MISSING']['AGE']:
                year_col = 'SENTENCE_YEAR'
                pen_col = 'INMATE_RACE_CODE'
                df = pp.impute_with_2cols(df, year_col, pen_col, attribute)

            for attribute in variables['MISSING']['MISSING_CAT']:
                df = pp.impute_missing(df, attribute)

            for attribute in variables['MISSING']['IMPUTE_MEAN']:
                df = pp.na_fill_col(df, attribute)

            ## discretization

            ## dummy
            for attribute in variables['CATEGORICAL_VARS']:
                if attribute == 'MINMAXTERM':
                    r = {'MAX.TERM:,MIN.TERM:': 'MIN.TERM:,MAX.TERM:'}
                    df['MINMAXTERM'] = df['MINMAXTERM'].replace(r)

            df = pp.categorical_to_dummy(df, variables['CATEGORICAL_VARS'])

In [3]:
c = ['PREFIX_AA', 'PREFIX_BB']

In [4]:
[x for x in c if x not in ['PREFIX']]

['PREFIX_AA', 'PREFIX_BB']

In [7]:
x.shape

(7845, 48)