In [95]:
import pandas as pd
pd.set_option("display.max_columns", 999)
pd.set_option("display.max_row", 999)
import geopandas as gpd
import numpy as np
import requests
import math
import sys
import graphviz 
import csv
import sqlite3
import re
import codecs
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn import tree as tr
import os; os.getcwd()

'/Users/belenmichel/Desktop/MSCAPP/7_Machine Learning/4_FinalProject_Crimes'

In [218]:
# # Pre-ProcessData

def to_date(df, attribute_lst):
    '''
    Converts the data type of a string in the format YYYY-MM-DD to a datetime  
    '''
    for var in attribute_lst:
        df[var] = df[var].astype('datetime64[ns]', errors = 'ignore')
    return df

def to_int(df, attribute_lst):
    '''
    Converts the data type of a string in the format YYYY-MM-DD to a datetime  
    '''
    for var in attribute_lst:
        df[var] = df[var].astype('int64', errors = 'ignore')
    return df

def remove_outliers(df, sd_threshold=3):
    '''
    Takes a dataframe and number of standard deviations to be considered 
    as outlier and returns a df without the observation that have one or
    or more outliers in it's attributes
    input:
        df: pandas data frame
        sd_threshold: standard deviations
    output:
        the new datafrane without outliers
    '''   
    
    return(df[(np.abs(stats.zscore(df.select_dtypes(include=['int']))) < sd_threshold).all(axis=1)])


def fill_nan(df, attributes_lst):
    '''
    Fills the nan with the mean
    input:
        df: pandas data frame
        attributes_lst: list of attributes names
    output:
        dataframe with the replaced nan
    '''   
    for attribute in attributes_lst: 
        df[attribute].fillna(df[attribute].mean(), inplace=True)

def clean_str(col_names):
    '''
    Removes special characters from a string. 
    input:
        col_names: string with column names
    output:
        sting where special characters where removed
    ''' 
    #TODO: replace this ad-hoc function with a re function. 
    #col_names = re.sub(pattern, repl, string, count=0, flags=0) 
    col_names = col_names.replace('.','')
    col_names = col_names.replace('#','')
    col_names = col_names.replace('-','')
    col_names = col_names.replace('(','')
    col_names = col_names.replace(')','')
    col_names = col_names.replace('&','')
    col_names = col_names.replace('/','')
    col_names = col_names.replace('__','')
    return col_names


# # Generate Features/ Predictors


def discretize_variable(df, attribute_lst):
    '''
    Converts continuous variables into discrete variables
    input:
        df: pandas data frame
        attributes_lst: list of attributes names
    output:
        dataframe with the new variables
    ''' 

    for var in attribute_lst:
        new_var = var + 'cat'
        df[new_var] = pd.qcut(df[var], 10, duplicates="drop", labels=False)
    return df

def categorical_to_dummy(df, attribute_lst):
    '''
    Converts categorical variables into one variabel dummies for each category. 
    input:
        df: pandas data frame
        attributes_lst: list of attributes names
    output:
        dataframe with the new variables
    ''' 

    for var in attribute_lst:
        df = pd.get_dummies(df, columns=[var])
    return df

def remove_attribute(df, attribute_lst):
    '''
    Removes attributes in the list from the data frame
    '''     
    return df.drop(attribute_lst, axis=1)

def keep_attribute(df, attribute_lst):
    '''
    Keeps attributes in the list in the data frame
    '''
    for attribute in df.columns:
        if attribute not in attribute_lst:
            df.drop(attribute, axis=1, inplace=True)
    return df

def flag_to_dummy(df, attribute_lst, rename=True):
    '''
    Converts a flag variable to a dummy with 1 for Yes and 0 for No
    '''
    for var in attribute_lst:
        df[var] = df[var].map({'Y': 1, 'N': 0, 'Yes': 1, 'No': 0, 'T': 1, 'F': 0,\
                               'True': 1, 'False': 0, 'OPEN': 1, 'CLOSED': 0})
        if rename:
            new_var_name = var[:-5]
            df.rename(index=str, columns={var: new_var_name}, inplace=True)
    return df

def gender_to_dummy(df, gender_var):  
    '''
    Converts a gender indicative variable to a dummy with 1 for female and 0 for male
    '''
    df[gender_var] = df[gender_var].map({'FEMALE': 1, 'MALE': 0, 'F': 1, 'M': 0})
    df.rename(index=str, columns={gender_var: "FEMALE"}, inplace=True)
    return df

In [161]:
#Cleaning Inmate Profile

file_name = "data/preprocessed/INMT4AA1.csv"
Inmate_Profile = pd.read_csv(file_name) #, nrows=400
Inmate_Profile = Inmate_Profile[Inmate_Profile["INMATE_IS_FELON/MISDEMEANANT"]=="FELON"]
Inmate_Profile = flag_to_dummy(Inmate_Profile, ['ESCAPE_HISTORY_FLAG', 'PRIOR_INCARCERATIONS_FLAG'])
Inmate_Profile = gender_to_dummy(Inmate_Profile, 'INMATE_GENDER_CODE')
Inmate_Profile = categorical_to_dummy(Inmate_Profile, ['INMATE_RACE_CODE'])
#Remove outliers for TOTAL_SENTENCE_LENGTHIN_DAYS, LENGTH_OF_CURRENT_INCARCERATN, LENGTH_OF_RULING_SENTENCES
#Inmate_Profile = remove_outliers(Inmate_Profile, sd_threshold=3)
Inmate_Profile = to_date(Inmate_Profile, ["INMATE_BIRTH_DATE","INMATE_ADMISSION_DATE","FINAL_RULING_PED",\
                              "FINAL_RULING_TRD", "FINAL_RULING_PRD", "FINAL_RULING_MAX_RELEASE_DATE",\
                              "DATE_TRD_&_PRD_LAST_COMPUTED", "DATE_OF_LAST_ARREST_ON_PAROLE"])
#Inmate_Profile["AGE_IN_DAYS"] = Inmate_Profile["INMATE_ADMISSION_DATE"] - Inmate_Profile["INMATE_BIRTH_DATE"]
keep_attribute(Inmate_Profile, ['INMATE_DOC_NUMBER','INMATE_LAST_NAME','INMATE_FIRST_NAME',\
                                'FEMALE',"INMATE_RACE_CODE_BLACK", "INMATE_RACE_CODE_INDIAN",\
                                "INMATE_RACE_CODE_OTHER", "INMATE_RACE_CODE_WHITE","AGE_IN_DAYS"\
                                'ESCAPE_HISTORY', 'PRIOR_INCARCERATIONS',\
                                "INMATE_BIRTH_DATE","INMATE_ADMISSION_DATE","FINAL_RULING_PED",\
                                "FINAL_RULING_TRD", "FINAL_RULING_PRD", "FINAL_RULING_MAX_RELEASE_DATE",\
                                "DATE_TRD_&_PRD_LAST_COMPUTED", "DATE_OF_LAST_ARREST_ON_PAROLE",\
                                "TOTAL_SENTENCE_LENGTHIN_DAYS", "LENGTH_OF_CURRENT_INCARCERATN",\
                                "LENGTH_OF_RULING_SENTENCES"])

new_file_name = file_name[:-4] + '_cleaned.csv'
Inmate_Profile.to_csv(path_or_buf=new_file_name)

#Shall we include?:
#TYPE_OF_LAST_INMATE_MOVEMENT
#MOST_SERIOUS_OFFNSE_CURR_INCAR

#CURRENT_COMMITMENT_PREFIX
#CURRENT_SENTENCE_COMPONENT

#LAST_RULING_PRD_COMMITMENT
#LAST_RULING_PRD_COMPONENT

In [ ]:
#Cleaning SentenceComputation

file_name = "data/preprocessed/INMT4BB1.csv"
Sentence_Computation = pd.read_csv(file_name)
Sentence_Computation = categorical_to_dummy(Sentence_Computation, ['INMATE_COMPUTATION_STATUS_FLAG'])
Sentence_Computation = to_date(Sentence_Computation, ["SENTENCE_BEGIN_DATE_(FOR_MAX)","ACTUAL_SENTENCE_END_DATE",\
                                          "PROJECTED_RELEASE_DATE_(PRD)","PAROLE_DISCHARGE_DATE",\
                                          "PAROLE_SUPERVISION_BEGIN_DATE"])
keep_attribute(Sentence_Computation, ["INMATE_DOC_NUMBER","INMATE_COMMITMENT_PREFIX","INMATE_SENTENCE_COMPONENT",\
                                  "SENTENCE_BEGIN_DATE_(FOR_MAX)","ACTUAL_SENTENCE_END_DATE",\
                                  "PROJECTED_RELEASE_DATE_(PRD)","PAROLE_DISCHARGE_DATE",\
                                  "PAROLE_SUPERVISION_BEGIN_DATE","INMATE_COMPUTATION_STATUS_FLAG_ACTIVE",\
                                  "INMATE_COMPUTATION_STATUS_FLAG_EAR.TERM","INMATE_COMPUTATION_STATUS_FLAG_EXPIRED",\
                                  "INMATE_COMPUTATION_STATUS_FLAG_FUTURE","INMATE_COMPUTATION_STATUS_FLAG_PAROLED",\
                                  "INMATE_COMPUTATION_STATUS_FLAG_POST REL"])

new_file_name = file_name[:-4] + '_cleaned.csv'
Sentence_Computation.to_csv(path_or_buf=new_file_name)

In [209]:
#Cleaning Disciplinary Infraction Charge
file_name = "data/preprocessed/INMT9CF1.csv"
Infraction_Charge = pd.read_csv(file_name, low_memory=False)
Infraction_Charge = categorical_to_dummy(Infraction_Charge, ['DISCIPLINARY_CHARGE_LEVEL'])
Infraction_Charge = flag_to_dummy(Infraction_Charge, ["ACTIVATE_PRIOR_SUSPENSION"], rename=False)


Infraction_Charge
keep_attribute(Infraction_Charge, ["INMATE_DOC_NUMBER", "DISCIPLINARY_CHARGE_LEVEL_APPEAL",\
                                   "DISCIPLINARY_CHARGE_LEVEL_DISCP HEAR OFFC",\
                                   "DISCIPLINARY_CHARGE_LEVEL_UNIT",'ACTIVATE_PRIOR_SUSPENSION'])
#Shall we include?:
#'DISCIPLINARY_APPEAL_DECISION'
#shall we include it?
new_file_name = file_name[:-4] + '_cleaned.csv'
Infraction_Charge.to_csv(path_or_buf=new_file_name)

In [ ]:
#Cleaning Financial_Obligation

file_name = "data/preprocessed/OFNT1BA1.csv"
Financial_Obligation = pd.read_csv(file_name, low_memory=False)
Financial_Obligation = categorical_to_dummy(Financial_Obligation, ["COURT_ORDERED_PAYMENT_TYPE"])
Financial_Obligation = flag_to_dummy(Financial_Obligation, ["PAYEE_ACCOUNT_STATUS_CODE"], rename=False)
#Financial_Obligation = discretize_variable(Financial_Obligation, ["COP_BALANCE"])
keep_attribute(Financial_Obligation, ["OFFENDER_NC_DOC_ID_NUMBER", "COP_COMMITMENT_PREFIX",\
                                      "COP_ACCOUNT_SEQUENCE_NUMBER","COURT_ORDERED_PAYMENT_TYPE_FINE",\
                                      "COURT_ORDERED_PAYMENT_TYPE_COMM. SERVICE FEE","PAYEE_ACCOUNT_STATUS_CODE",\
                                      "COURT_ORDERED_PAYMENT_TYPE_COURT COSTS","COURT_ORDERED_PAYMENT_TYPE_JAIL FEE",\
                                      "COURT_ORDERED_PAYMENT_TYPE_JUDGEMENT","COURT_ORDERED_PAYMENT_TYPE_RESTITUTION",\
                                      "COURT_ORDERED_PAYMENT_TYPE_SUPERVISION FEE", "COP_BALANCEcat"])

new_file_name = file_name[:-4] + '_cleaned.csv'
Financial_Obligation.to_csv(path_or_buf=new_file_name)

In [223]:
#Cleaning Court Commitment

file_name = "data/preprocessed/OFNT3BB1.csv"
Court_Commitment = pd.read_csv(file_name, low_memory=False, nrows=40000)
Court_Commitment
Court_Commitment = categorical_to_dummy(Court_Commitment, ["COURT_ORDERED_PAYMENT_TYPE"])
Court_Commitment = flag_to_dummy(Court_Commitment, ["PAYEE_ACCOUNT_STATUS_CODE"], rename=False)
#Court_Commitment = discretize_variable(Court_Commitment, ["COP_BALANCE"])
keep_attribute(Court_Commitment, ["OFFENDER_NC_DOC_ID_NUMBER", "COP_COMMITMENT_PREFIX",\
                                      "COP_ACCOUNT_SEQUENCE_NUMBER","COURT_ORDERED_PAYMENT_TYPE_FINE",\
                                      "COURT_ORDERED_PAYMENT_TYPE_COMM. SERVICE FEE","PAYEE_ACCOUNT_STATUS_CODE",\
                                      "COURT_ORDERED_PAYMENT_TYPE_COURT COSTS","COURT_ORDERED_PAYMENT_TYPE_JAIL FEE",\
                                      "COURT_ORDERED_PAYMENT_TYPE_JUDGEMENT","COURT_ORDERED_PAYMENT_TYPE_RESTITUTION",\
                                      "COURT_ORDERED_PAYMENT_TYPE_SUPERVISION FEE", "COP_BALANCEcat"])

new_file_name = file_name[:-4] + '_cleaned.csv'
Court_Commitment.to_csv(path_or_buf=new_file_name)

       OFFENDER_NC_DOC_ID_NUMBER COMMITMENT_PREFIX COMMITTED_LAST_NAME  \
0                              1                01          AAL ANUBIA
1                              3                01              AARHUS
2                              3                02              AARHUS
3                              4                AA               AARON
4                              5                01               AARON
5                              5                02               AARON
6                              6                AA               AARON
7                              6                AB               AARON
8                              7                01               AARON
9                              7                02               AARON
10                             7                03               AARON
11                             7                04               AARON
12                             7                05               AARON
13                             8                01               AARON
14                             8                02               AARON
15                             8                03               AARON
16                             8                04               AARON
17                             8                05               AARON
18                             8                06               AARON
19                             8                07               AARON
20                             8                AA               AARON
21                             8                AB               AARON
22                             8                BA               AARON
23                            10                AA               AARON
24                            10                AB               AARON
25                            11                01               AARON
26                            11                02               AARON
27                            12                01               AARON
28                            14                AA               AARON
29                            14                AB               AARON
30                            15                01               AARON
31                            16                01               AARON
32                            17                01               AARON
33                            17                AA               AARON
34                            18                01               AARON
35                            19                AA            AARONSON
36                            20                01            AARONSON
37                            20                BA            AARONSON
38                            21                01             AARSUND
39                            22                01             AAVASTE
40                            23                AA              ABADIA
41                            24                01                ABAD
42                            26                AA                ABAT
43                            28                01               ABBEY
44                            28                02               ABBEY
45                            28                03               ABBEY
46                            28                04               ABBEY
47                            28                05               ABBEY
48                            28                06               ABBEY
49                            28                07               ABBEY
50                            28                AA               ABBEY
51                            28                BA               ABBEY
52                            28                BB               ABBEY
53                            29                01               ABBEY
54                            30                01              ABBITT
55                            30                02              ABBITT
56                            31                AA              ABBNEY
57                            32                01              ABBITT
58                            32                02              ABBITT
59                            32                BA              ABBITT
60                            33                AA              ABBITT
61                            33                AB              ABBITT
62                            33                AC              ABBITT
63                            33                AD              ABBITT
64                            33                BA              ABBITT
65                            34                01              ABBITT
66                            34                AA              ABBITT
67                            34                AB              ABBITT
68                            35                01               ABBOT
69                            35                02              ABBOTT
70                            35                BA               ABBOT
71                            35                BB              ABBOTT
72                            35                BC              ABBOTT
73                            36                01               ABBOT
74                            36                02               ABBOT
75                            36                03                LANE
76                            36                04                LANE
77                            37                01              ABBOTT
78                            37                02              ABBOTT
79                            37                03              ABBOTT
80                            37                04              ABBOTT
81                            37                05              ABBOTT
82                            37                BA              ABBOTT
83                            38                01              ABBOTT
84                            38                02              ABBOTT
85                            39                AA              ABBOTT
86                            40                01              ABBOTT
87                            41                01              ABBOTT
88                            41                03              ABBOTT
89                            41                04              ABBOTT
90                            41                05              ABBOTT
91                            41                AA              ABBOTT
92                            42                01              ABBOTT
93                            42                AA              ABBOTT
94                            43                01              ABBOTT
95                            44                AA              ABBOTT
96                            45                AA              ABBOTT
97                            46                AA              ABBOTT
98                            47                01              ABBOTT
99                            47                02              ABBOTT
100                           47                03              ABBOTT
101                           47                04              ABBOTT
102                           49                01              ABBOTT
103                           49                AA              ABBOTT
104                           49                AB              ABBOTT
105                           49                AC              ABBOTT
106                           50                01              ABBOTT
107                           50                AA              ABBOTT
108                           51                01              ABBOTT
109                           51                02              ABBOTT
110                           51                03              ABBOTT
111                           51                AA              ABBOTT
112                           51                AB              ABBOTT
113                           52                01              ABBOTT
114                           52                02              ABBOTT
115                           52                03              ABBOTT
116                           52                04              ABBOTT
117                           52                05              ABBOTT
118                           52                BA              ABBOTT
119                           53                01              ABBOTT
120                           53                02              ABBOTT
121                           53                03              ABBOTT
122                           54                AA              ABBOTT
123                           55                01              ABBOTT
124                           55                02              ABBOTT
125                           55                03              ABBOTT
126                           56                01              ABBOTT
127                           56                02              ABBOTT
128                           56                03              ABBOTT
129                           57                AA              ABBOTT
130                           58                02              ABBOTT
131                           58                03              ABBOTT
132                           58                AA              ABBOTT
133                           58                AB              ABBOTT
134                           59                01              ABBOTT
135                           59                AA              ABBOTT
136                           60                01              ABBOTT
137                           61                01              ABBOTT
138                           61                02              ABBOTT
139                           61                03              ABBOTT
140                           61                04              ABBOTT
141                           61                AA              ABBOTT
142                           62                01              ABBOTT
143                           62                BA              ABBOTT
144                           62                BB              ABBOTT
145                           63                01              ABBOTT
146                           63                02              ABBOTT
147                           63                03              ABBOTT
148                           63                04              ABBOTT
149                           63                05              ABBOTT
150                           63                06              ABBOTT
151                           63                07              ABBOTT
152                           63                08              ABBOTT
153                           64                01              ABBOTT
154                           64                02              ABBOTT
155                           64                03              ABBOTT
156                           64                04              ABBOTT
157                           64                06              ABBOTT
158                           64                AA              ABBOTT
159                           64                AB              ABBOTT
160                           66                01              ABBOTT
161                           66                02              ABBOTT
162                           66                AA              ABBOTT
163                           67                01              ABBOTT
164                           68                01              ABBOTT
165                           68                AA              ABBOTT
166                           69                AA              ABBOTT
167                           70                01              ABBOTT
168                           71                01              ABBOTT
169                           71                AA              ABBOTT
170                           71                BA              ABBOTT
171                           72                01              ABBOTT
172                           72                02              ABBOTT
173                           72                03              ABBOTT
174                           73                01              ABBOTT
175                           73                AA              ABBOTT
176                           74                01              ABBOTT
177                           74                03              ABBOTT
178                           74                05              ABBOTT
179                           74                AA              ABBOTT
180                           74                AB              ABBOTT
181                           75                AA              ABBOTT
182                           76                01             ABBOTTS
183                           77                01              ABBOTT
184                           77                AA              ABBOTT
185                           78                AA              ABBOTT
186                           78                AB              ABBOTT
187                           78                AC              ABBOTT
188                           79                AA              ABBOTT
189                           80                BA              ABBOTT
190                           81                01              ABBOTT
191                           81                AA              ABBOTT
192                           84                01              ABBOTT
193                           86                02              ABBOTT
194                           86                03              ABBOTT
195                           86                04              ABBOTT
196                           86                05              ABBOTT
197                           86                06              ABBOTT
198                           86                AA              ABBOTT
199                           87                01              ABBOTT
200                           87                03              ABBOTT
201                           87                04              ABBOTT
202                           87                05              ABBOTT
203                           87                AA              ABBOTT
204                           87                AB              ABBOTT
205                           88                01              ABBOTT
206                           88                02              ABBOTT
207                           88                03              ABBOTT
208                           88                04              ABBOTT
209                           88                05              ABBOTT
210                           88                06              ABBOTT
211                           88                AA              ABBOTT
212                           90                01              ABBOTT
213                           91                01              ABBOTT
214                           91                02              ABBOTT
215                           91                03              ABBOTT
216                           91                04              ABBOTT
217                           91                05              ABBOTT
218                           91                AA              ABBOTT
219                           92                01              ABBOTT
220                           93                AA              ABBOTT
221                           94                AA              ABBOTT
222                           95                01             ABCUNAS
223                           95                02             ABCUNAS
224                           97                01                ABDI
225                           98                01        ABDUL MATEEN
226                           99                01       ABDUL-SHAHEED
227                           99                02       ABDUL-SHAHEED
228                           99                03             SHAHEED
229                          100                01                ABEE
230                          101                01               ABDUL
231                          101                02               ABDUL
232                          101                03               ABDUL
233                          101                04               ABDUL
234                          102                01                ABEE
235                          103                01                ABEE
236                          104                AA            ABDULLAH
237                          105                01            ABDULLAH
238                          106                01         ABDELRAHMAN
239                          106                BA         ABDELRAHMAN
240                          107                01           ABDELHIMD
241                          108                01                ABEE
242                          109                01                ABEE
243                          110                01         ABDUR RAHIM
244                          111                01                ABEE
245                          111                02                ABEE
246                          111                BA                ABEE
247                          112                01               ABDON
248                          112                02               ABDON
249                          113                01                ABEE
250                          113                02                ABEE
251                          113                03                ABEE
252                          113                04                ABEE
253                          114                01         ABDUL RAHIM
254                          114                02         ABDUL RAHIM
255                          114                03         ABDUL RAHIM
256                          114                04         ABDUL RAHIM
257                          114                05             ANDREWS
258                          114                06             ANDREWS
259                          114                BA             ANDREWS
260                          114                BB             ANDREWS
261                          115                01            ABDULLAH
262                          115                02            ABDULLAH
263                          115                03            ABDULLAH
264                          115                04            ABDULLAH
265                          115                AA            ABDULLAH
266                          115                AB            ABDULLAH
267                          116                01           ABDELHIMD
268                          117                01           ABDULHADI
269                          118                AA                ABEE
270                          118                AB                ABEE
271                          120                01                ABEE
272                          120                02                ABEE
273                          120                03                ABEE
274                          120                04                ABEE
275                          121                01                ABEE
276                          121                AA                ABEE
277                          122                01            ABDULLAH
278                          123                01                ABEE
279                          124                AA                ABEE

In [224]:
#Cleaning Sentence_Component

file_name = "data/preprocessed/OFNT3CE1.csv"
Sentence_Component = pd.read_csv(file_name, low_memory=False)#, nrows=40000)

Sentence_Component

new_file_name = file_name[:-4] + '_cleaned.csv'
Sentence_Component.to_csv(path_or_buf=new_file_name)

In [225]:
#Cleaning Special_Cond_Sanctions

file_name = "data/preprocessed/OFNT3CE1.csv"
Special_Cond_Sanctions = pd.read_csv(file_name, low_memory=False)#, nrows=40000)

Special_Cond_Sanctions

new_file_name = file_name[:-4] + '_cleaned.csv'
Special_Cond_Sanctions.to_csv(path_or_buf=new_file_name)

In [226]:
#Cleaning Parole_Analyst

file_name = "data/preprocessed/INMT4CA1.csv"
Parole_Analyst = pd.read_csv(file_name, low_memory=False)#, nrows=40000)

Parole_Analyst

new_file_name = file_name[:-4] + '_cleaned.csv'
Parole_Analyst.to_csv(path_or_buf=new_file_name)

In [ ]:
Warrant_Issued = pd.read_csv("data/preprocessed/OFNT9BE1.csv")

In [ ]:
con = sqlite3.connect("crimes.db")
cur = con.cursor()

tables = ['INMT4AA1_cleaned', 'INMT4BB1_cleaned', 'INMT9CF1_cleaned',\
          'OFNT1BA1_cleaned', 'OFNT3BB1_cleaned', 'OFNT3CE1_cleaned',\
          'OFNT3DE1_cleaned', 'INMT4CA1_cleaned']

for table in tables:
    #print(table)
    file_name = "data/preprocessed/{}.csv".format(table)
    col_names = pd.read_csv(file_name, nrows=0).columns
    n_columns = len(col_names)
    col_names = clean_str(', '.join(col_names))
    cur.execute('DROP TABLE IF EXISTS {}'.format(table))
    cur.execute("CREATE TABLE {} ({});".format(table, col_names))
    
    #File contains NULL bytes. That's why I replaced '\0' with ''
    reader = csv.reader(x.replace('\0','') for x in open(file_name))
    for row in reader:
        row = [None if x == '' else x for x in row]
        cur.execute("INSERT INTO {} VALUES ({});".format(table,",".join(['?']*n_columns)), row)

con.commit()
con.close()

In [ ]:
for at in Inmate_Profile.columns:
    print(at)
    print(type(Inmate_Profile[at][0]))

In [198]:
Infraction_Charge.groupby("SUSPENSION_STATUS").size()

SUSPENSION_STATUS
ACTIVATED             329
SUSPENSIONS EXIST    7044
VOID                    1
dtype: int64